@import url('https://fonts.googleapis.com/css2?family=Red+Hat+Display:wght@400;700&display=swap');

// Colors

$paleBlue: #e0e8ff;
$brightBlue: #382ae1;

$veryPaleBlue: #f7f9ff;
$desaturatedBlue: #717fa6;
$darkBlue: #1f2e55;

// Component Colors

$backgroundCol: $paleBlue;
$componentBgCol: white;
$h1Col: $darkBlue;
$textCol: $desaturatedBlue;
$offerBg: $veryPaleBlue;
$offerFg: $desaturatedBlue;
$buttonBg: $brightBlue;
$buttonHoverBg: #766cf1;
$buttonFg: white;
$planFg: $darkBlue;
$changeFg: $brightBlue;
$cancelFg: $desaturatedBlue;
$cancelHoverFg: $darkBlue;

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  height: 100vh;
  background-image: url('../images/pattern-background-mobile.svg');
  background-size: 100%;
  background-repeat: no-repeat;
  background-color: $backgroundCol;

  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

  font-family: 'Red Hat Display', sans-serif;
}

.container {
  width: 20.4375rem;
  background-color: $componentBgCol;
  border-radius: 1.25rem;

  display: flex;
  flex-direction: column;
  align-items: center;
  overflow: hidden;

  img {
    border-top-left-radius: 1.5625rem;
    border-top-right-radius: 1.5625rem;
  }

  h1 {
    margin-top: 2rem;
    color: $h1Col;
    text-align: center;
    font-size: 1.375rem;
  }

  p {
    margin-top: 1rem;
    font-size: 0.9375rem;
    color: $textCol;
    text-align: center;
  }

  .offer {
    background-color: $offerBg;
    color: $offerFg;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    width: 17.5rem;
    height: 5rem;
    padding-left: 1rem;
    padding-right: 1rem;
    border-radius: 0.6875rem;
    margin-top: 1.5rem;

    .offer-plan {
      margin-right: 3.125rem;
      line-height: 1.5;
      color: $offerFg;
      font-size: 0.875rem;

      span {
        font-weight: bold;
        color: $planFg;
      }
    }
    .note-icon {
      width: 3rem;
      height: 3rem;
      background-image: url('../images/icon-music.svg');
    }

    a {
      font-weight: bold;
      color: $changeFg;

      font-weight: bold;
    }
  }

  .proceed-btn {
    background-color: $buttonBg;
    border: none;
    color: $buttonFg;
    height: 3.125rem;
    border-radius: 0.6875rem;
    cursor: pointer;
    width: 17.5rem;
    border: none;
    margin-top: 1.5rem;
    font-size: 0.9375rem;
    font-weight: 700;
    margin-top: 1.5rem;

    &:hover {
      background-color: $buttonHoverBg;
    }
  }

  .cancel-btn {
    margin-top: 1.5rem;
    margin-bottom: 2rem;
    margin-right: 1rem;
    color: $cancelFg;
    font-weight: 700;
    font-size: 0.9375rem;
    cursor: pointer;
    text-decoration: none;

    &:hover {
      color: $cancelHoverFg;
    }
  }
}

@media screen and (min-width: 48rem) {
  body {
    background-image: url('../images/pattern-background-desktop.svg');
    background-size: 100% 45%;
  }

  .container {
    width: 28.125rem;

    h1 {
      margin-top: 2.8125rem;
      color: $h1Col;
      font-size: 1.75rem;
    }

    p {
      font-weight: 500;
      margin-top: 1.0625rem;
      font-size: 1rem;
      margin-left: 3rem;
      margin-right: 3rem;
    }

    .offer {
      width: 22.125rem;
      height: 6.125rem;
      padding-left: 1rem;
      padding-right: 1rem;
      margin-top: 1.25rem;

      .offer-plan {
        margin-right: 6.25rem;
        font-size: 1rem;
      }

      a {
        font-size: 0.875rem;
      }
    }

    .proceed-btn {
      width: 22.125rem;
      border: none;
      margin-top: 2rem;
      font-weight: 900;
    }

    .cancel-btn {
      margin-top: 2rem;
      margin-bottom: 3rem;
      margin-right: 1.5rem;
      font-weight: 900;
      font-size: 0.9375rem;

      &:hover {
        color: $cancelHoverFg;
      }
    }
  }
}
